# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
venv/
env/

# Data
data/

# Documentation
*.md
!README.md

# IDE
.idea
.vscode

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# CI/CD
.github

# Misc
.DS_Store
